<div class="container" fxLayoutAlign="center center">
  <div class="container-fluid" fxLayout="column" fxLayoutAlign="center center">
    <div class="header" fxLayout="row wrap" fxLayoutAlign="space-between end">
      <p class="heading">Library</p>
      <button mat-raised-button routerLink="/new-message">New Message</button>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="launchDate">
        <th mat-header-cell *matHeaderCellDef>Launch Date</th>
        <td class="date" mat-cell *matCellDef="let element">
          {{ element.launchDate | date: "longDate" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td class="title" mat-cell *matCellDef="let element">
          {{ element.title }}
        </td>
      </ng-container>

      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef>Author</th>
        <td class="author" mat-cell *matCellDef="let element">
          {{ element.author }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
