$container-height: calc(100vh - 90px);

.container {
  min-height: $container-height;
  width: 100%;
}

.container-fluid {
  width: 500px;
  padding-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

form {
  width: 100%;
}

mat-toolbar {
  border-radius: 10px 10px 0 0;
  background-color: #8cc928 !important;
}

.spinner {
  position: absolute;
  z-index: 9;
}

mat-form-field {
  width: 90%;
  margin: 10px 0 0 0;
}

button {
  background-color: #009be9 !important;
  opacity: 0.7;
  color: white;
  padding: 0 35px;
  height: 40px;
}

.errMsg {
  color: red;
  text-align: center;
  margin: 0 10px 10px;
}

@media screen and (max-width: 480px) {
  .container-fluid {
    margin: 100px 0 50px;
    width: 300px;
  }
}

::ng-deep .snakeBarClass {
  background-color: #8cc928;
  color: white !important;
}

::ng-deep .mat-spinner circle {
  stroke: #8cc928 !important;
}
